<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<head>
	<!--Import Google Icon Font-->
		      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		      <!--Import materialize.css-->
		      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
		
		      <!--Let browser know website is optimized for mobile-->
		      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

 <title>EventosApp</title>

</head>

<body>

<h1 align="center">Cadastro de Eventos</h1>

<form class = "container" method="post">

 Nome: <input type="text" value="" name="nome"/>
 <div class="row">
 <div class="input-field col s6">
 Local: <input type="text" value="" name="local"/>
  </div>
  <div class="input-field col s3">
 Data: <input type="date" value="" name="data"/>
   </div>
   <div class="input-field col s3">
 Horario: <input type="text" value="" name="horario"/>
 </div>
 </div>
 <button type="submit" class="waves-effect waves-light btn">Salvar</button>
 <h5><a href="/" class="waves-effect waves-light btn">Voltar<i class="material-icons left">arrow_back</i></a></h5>
 

</form>
	<!--JavaScript at end of body for optimized loading-->
		<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>



</html>